In [1]:
import acquire_codeup
import prepare_codeup

import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd

In [13]:
codeup_df = acquire_codeup.get_blog_articles()
codeup_df.head()

/Users/pj/Desktop/codeup-data-science/NLP-exercises/acquire_codeup.py:23: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 23 of the file /Users/pj/Desktop/codeup-data-science/NLP-exercises/acquire_codeup.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(response.text)
/Users/pj/Desktop/codeup-data-science/NLP-exercises/acquire_codeup.py:33: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 33 of the file /Users/pj/Desktop/codeup-data-science/NLP-exercises/acquire_codeup.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(response.text)

,title,published,content
0,Codeup Dallas Open House,"Nov 30, 2021",Come join us for the re-opening of our Dallas ...
1,Codeup’s Placement Team Continues Setting Records,"Nov 19, 2021",Our Placement Team is simply defined as a grou...
2,"IT Certifications 101: Why They Matter, and Wh...","Nov 18, 2021","AWS, Google, Azure, Red Hat, CompTIA…these are..."
3,A rise in cyber attacks means opportunities fo...,"Nov 17, 2021","In the last few months, the US has experienced..."
4,Use your GI Bill® benefits to Land a Job in Tech,"Nov 4, 2021","As the end of military service gets closer, ma..."

In [3]:
news_df = acquire_codeup.get_inshorts_articles()
news_df.head()

/Users/pj/Desktop/codeup-data-science/NLP-exercises/acquire_codeup.py:68: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 68 of the file /Users/pj/Desktop/codeup-data-science/NLP-exercises/acquire_codeup.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  soup = BeautifulSoup(response.text)

,title,author,content,date,category
0,RBI cancels licence of Maha-based Independence...,Shalini Ojha,RBI has cancelled licence of Maharashtra-based...,"03 Feb 2022,Thursday",business
1,Boost to EVs a big step: Windmill Capital,Roshan Gupta,"Increased use of EVs in public transport, spec...","03 Feb 2022,Thursday",business
2,Facebook parent Meta's $230-billion wipeout bi...,Pragya Swastik,Facebook's parent Meta's shares plunged 27% an...,"03 Feb 2022,Thursday",business
3,"Tesla co-worker used N-word, threw a hot tool ...",Kiran Khatri,A former Tesla worker has filed a lawsuit agai...,"03 Feb 2022,Thursday",business
4,Mark Zuckerberg loses $31 bn in one of the big...,Pragya Swastik,Meta CEO Mark Zuckerberg's wealth dropped by $...,"03 Feb 2022,Thursday",business

In [14]:
clean_content = pd.DataFrame([prepare_codeup.basic_clean(i) for i in codeup_df.content])
clean_content.head()

                                                   0
0  come join us for the reopening of our dallas c...
1  our placement team is simply defined as a grou...
2  aws google azure red hat comptiathese are big ...
3  in the last few months the us has experienced ...
4  as the end of military service gets closer man...

In [17]:
codeup_df['clean'] = clean_content
codeup_df.head()

,title,published,content,clean
0,Codeup Dallas Open House,"Nov 30, 2021",Come join us for the re-opening of our Dallas ...,come join us for the reopening of our dallas c...
1,Codeup’s Placement Team Continues Setting Records,"Nov 19, 2021",Our Placement Team is simply defined as a grou...,our placement team is simply defined as a grou...
2,"IT Certifications 101: Why They Matter, and Wh...","Nov 18, 2021","AWS, Google, Azure, Red Hat, CompTIA…these are...",aws google azure red hat comptiathese are big ...
3,A rise in cyber attacks means opportunities fo...,"Nov 17, 2021","In the last few months, the US has experienced...",in the last few months the us has experienced ...
4,Use your GI Bill® benefits to Land a Job in Tech,"Nov 4, 2021","As the end of military service gets closer, ma...",as the end of military service gets closer man...

In [19]:
stem_clean = pd.DataFrame([prepare_codeup.stem(i) for i in codeup_df.clean])
stem_clean.head()

                                                   0
0  come join us for the reopen of our dalla campu...
1  our placement team is simpli defin as a group ...
2  aw googl azur red hat comptiathes are big name...
3  in the last few month the us ha experienc doze...
4  as the end of militari servic get closer mani ...

In [20]:
codeup_df['stemmed'] = stem_clean
codeup_df.head()

,title,published,content,clean,stemmed
0,Codeup Dallas Open House,"Nov 30, 2021",Come join us for the re-opening of our Dallas ...,come join us for the reopening of our dallas c...,come join us for the reopen of our dalla campu...
1,Codeup’s Placement Team Continues Setting Records,"Nov 19, 2021",Our Placement Team is simply defined as a grou...,our placement team is simply defined as a grou...,our placement team is simpli defin as a group ...
2,"IT Certifications 101: Why They Matter, and Wh...","Nov 18, 2021","AWS, Google, Azure, Red Hat, CompTIA…these are...",aws google azure red hat comptiathese are big ...,aw googl azur red hat comptiathes are big name...
3,A rise in cyber attacks means opportunities fo...,"Nov 17, 2021","In the last few months, the US has experienced...",in the last few months the us has experienced ...,in the last few month the us ha experienc doze...
4,Use your GI Bill® benefits to Land a Job in Tech,"Nov 4, 2021","As the end of military service gets closer, ma...",as the end of military service gets closer man...,as the end of militari servic get closer mani ...

In [21]:
lemmy_clean = pd.DataFrame([prepare_codeup.lemmatize(i) for i in codeup_df.clean])
lemmy_clean.head()

                                                   0
0  come join u for the reopening of our dallas ca...
1  our placement team is simply defined a a group...
2  aws google azure red hat comptiathese are big ...
3  in the last few month the u ha experienced doz...
4  a the end of military service get closer many ...

In [22]:
codeup_df['lemmatized'] = lemmy_clean
codeup_df.head()

,title,published,content,clean,stemmed,lemmatized
0,Codeup Dallas Open House,"Nov 30, 2021",Come join us for the re-opening of our Dallas ...,come join us for the reopening of our dallas c...,come join us for the reopen of our dalla campu...,come join u for the reopening of our dallas ca...
1,Codeup’s Placement Team Continues Setting Records,"Nov 19, 2021",Our Placement Team is simply defined as a grou...,our placement team is simply defined as a grou...,our placement team is simpli defin as a group ...,our placement team is simply defined a a group...
2,"IT Certifications 101: Why They Matter, and Wh...","Nov 18, 2021","AWS, Google, Azure, Red Hat, CompTIA…these are...",aws google azure red hat comptiathese are big ...,aw googl azur red hat comptiathes are big name...,aws google azure red hat comptiathese are big ...
3,A rise in cyber attacks means opportunities fo...,"Nov 17, 2021","In the last few months, the US has experienced...",in the last few months the us has experienced ...,in the last few month the us ha experienc doze...,in the last few month the u ha experienced doz...
4,Use your GI Bill® benefits to Land a Job in Tech,"Nov 4, 2021","As the end of military service gets closer, ma...",as the end of military service gets closer man...,as the end of militari servic get closer mani ...,a the end of military service get closer many ...

In [ ]:
# Lets do the same for the news articles now!

In [23]:
clean_news_content = pd.DataFrame([prepare_codeup.basic_clean(i) for i in news_df.content])
news_df['clean'] = clean_news_content

stem__news_clean = pd.DataFrame([prepare_codeup.stem(i) for i in news_df.clean])
news_df['stemmed'] = stem__news_clean

lemmy__news_clean = pd.DataFrame([prepare_codeup.lemmatize(i) for i in news_df.clean])
news_df['lemmatized'] = lemmy__news_clean
news_df.head()

,title,author,content,date,category,clean,stemmed,lemmatized
0,RBI cancels licence of Maha-based Independence...,Shalini Ojha,RBI has cancelled licence of Maharashtra-based...,"03 Feb 2022,Thursday",business,rbi has cancelled licence of maharashtrabased ...,rbi ha cancel licenc of maharashtrabas indepen...,rbi ha cancelled licence of maharashtrabased i...
1,Boost to EVs a big step: Windmill Capital,Roshan Gupta,"Increased use of EVs in public transport, spec...","03 Feb 2022,Thursday",business,increased use of evs in public transport speci...,increas use of ev in public transport special ...,increased use of ev in public transport specia...
2,Facebook parent Meta's $230-billion wipeout bi...,Pragya Swastik,Facebook's parent Meta's shares plunged 27% an...,"03 Feb 2022,Thursday",business,facebook's parent meta's shares plunged 27 and...,facebook' parent meta' share plung 27 and thur...,facebook's parent meta's share plunged 27 and ...
3,"Tesla co-worker used N-word, threw a hot tool ...",Kiran Khatri,A former Tesla worker has filed a lawsuit agai...,"03 Feb 2022,Thursday",business,a former tesla worker has filed a lawsuit agai...,a former tesla worker ha file a lawsuit agains...,a former tesla worker ha filed a lawsuit again...
4,Mark Zuckerberg loses $31 bn in one of the big...,Pragya Swastik,Meta CEO Mark Zuckerberg's wealth dropped by $...,"03 Feb 2022,Thursday",business,meta ceo mark zuckerberg's wealth dropped by 3...,meta ceo mark zuckerberg' wealth drop by 31 bi...,meta ceo mark zuckerberg's wealth dropped by 3...